.crumbs {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  font-size: 1rem;
  color: var(--color-text-secondary);
}

.link {
  color: var(--color-text-secondary);
  //text-decoration: none;
  //transition: color 0.15s ease, color 0.15s ease;
}
