@use '@/app/styles/variables' as *;

.crumbs {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.125rem;
  font-size: 1rem;
  color: var(--color-text-secondary);

  @include tablet {
    font-size: 0.9375rem;
  }
  @include mobile {
    font-size: 0.875rem;
  }
}

.link {
  color: var(--color-text-secondary);
  //text-decoration: none;
  //transition: color 0.15s ease, color 0.15s ease;
}
